/web/bundles/
/web/lib/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/var/
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/log/.gitkeep
!var/sessions/.gitkeep
/bin/
/src/Cms/*
!/src/Cms/.gitkeep
!/src/.htaccess
/composer.phar
.idea/
composer.lock
generating
backing
.sass-cache/*
