/web/bundles/
/web/lib/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/src/Cms/*
!/src/Cms/.gitkeep
!/src/.htaccess
/composer.phar
.idea/
composer.lock
