/web/bundles/
/web/lib/*
/web/js_dependencies/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/node_modules
/var/
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/bin/
/src/Oni/*
!/src/Oni/CoreBundle
!/src/Oni/.gitkeep
!/src/.htaccess
/composer.phar
.idea/
Oni
composer.lock
generating
backing
.sass-cache/*
