security:
    encoders:
        Cms\UserManagerBundle\Entity\User: sha512

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN

#    providers:
#        fos_userbundle:
#            id: fos_user.user_provider.username
    providers:
        cms_users:
            id: cms_user_provider

    firewalls:
        cms:
            pattern: ^/admin
            form_login:
                provider: cms_users
                csrf_provider: form.csrf_provider
                target_path_parameter: /admin/dashboard
                login_path: /admin/login
                always_use_default_target_path: true
                default_target_path: /admin/dashboard
            logout:       true
            anonymous:    true

    access_control:
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/super_admin/, role: ROLE_ADMIN }
        - { path: ^/admin*, role: ROLE_ADMIN }