security:
    encoders:
        Oni\UserManagerBundle\Entity\User: sha512
        Oni\TravelConnectBundle\Entity\User: sha512

    role_hierarchy:
        ROLE_B2C:         [ROLE_USER]
        ROLE_ADMIN:       [ROLE_USER,ROLE_AUTHOR,ROLE_MODERATOR]
        ROLE_SUPER_ADMIN: [ROLE_ADMIN,ROLE_ALLOWED_TO_SWITCH]
        ROLE_TRAVEL_CONNECT_ADMIN: [ROLE_TRAVEL_CONNECT_USER, ROLE_TRAVEL_CONNECT_ADMIN]
        ROLE_TRAVEL_CONNECT_SUPER_ADMIN: [ROLE_TRAVEL_CONNECT_ADMIN,ROLE_ALLOWED_TO_SWITCH]

    providers:
        cms_users:
            id: oni_user_provider
        travel_connect_users:
            id: oni_travel_connect_user_provider


    firewalls:
        cms:
            pattern: ^/admin/
            provider: cms_users
            form_login:
                provider: cms_users
                login_path: /admin/login
                check_path: /admin/login_check
                always_use_default_target_path: true
                default_target_path: /admin/dashboard
            logout:
                path:   /admin/logout
                target: /admin/login
            anonymous: ~
        travel_connect:
            pattern: ^/tc/
            provider: travel_connect_users
            form_login:
                provider: travel_connect_users
                login_path: /tc/login
                check_path: /tc/login_check
                always_use_default_target_path: true
                default_target_path: /tc
            logout:
                path:   /tc/logout
                target: /tc/login
            anonymous: ~

    access_control:
        - { path: ^/admin/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/login_check$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/*, role: ROLE_ADMIN }
        - { path: ^/tc/login,role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/tc/login_check$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/tc/*,role: ROLE_TRAVEL_CONNECT_USER }

# activate different ways to authenticate

# http_basic: ~
# http://symfony.com/doc/current/book/security.html#a-configuring-how-your-users-will-authenticate

# form_login: ~
# http://symfony.com/doc/current/cookbook/security/form_login_setup.html
