<div class='btn-group'>
    <button class='btn btn-primary dropdown-toggle' data-toggle='dropdown' style='margin-bottom:5px'>
        <span class='caret'></span>
    </button>
    <ul class='dropdown-menu'>
        {% block links %}
        {% endblock %}
    </ul>
</div>