<div class='application'>
    <div class='application-content'>
        <a href='sign_in.html'>
            <div class='icon-heart'></div>
            <span>Oni System</span>
        </a>
    </div>
</div>