parameters:
    #entities
    oni_languages_entity: Oni\CoreBundle\Entity\Languages
    #Repositories
    oni_language_repository: Oni\CoreBundle\Entity\LanguagesRepository
    #Service
    oni_core_service: Oni\CoreBundle\Service\CoreService
    #Factory
    oni_repository_factory: Oni\CoreBundle\Factory\RepositoryFactory
    oni_controller_factory: Oni\CoreBundle\Factory\ControllerFactory
    #EventListeners
    oni_locale_listener: Oni\CoreBundle\EventListeners\LocaleListener

services:
    #Entities
    oni_languages_entity:
        class:     "%oni_languages_entity%"
    oni_language_repository:
        class:     "%oni_language_repository%"
        factory: [ '@doctrine.orm.default_entity_manager',  getRepository]
        arguments:
            - "%oni_languages_entity%"
    #Services
    oni_core_service:
        class: "%oni_core_service%"
        arguments:
            - "@service_container"
    oni_get_locale:
        class: "%oni_languages_entity%"
        factory: [ '@oni_core_service',  getLocale ]
    oni_get_available_languages:
        class: "%oni_languages_entity%"
        factory: [ '@oni_core_service',  getAvailableLanguages ]
    #Factory
    oni_repository_factory:
        class: "%oni_repository_factory%"
        calls:
            - [ setContainer, ["@service_container"]]
    oni_controller_factory:
        class: "%oni_controller_factory%"
        calls:
            - [ setContainer, ["@service_container"]]
    #Event Listeners
    oni_locale_listener:
        class: "%oni_locale_listener%"
        arguments: ["en","@service_container"]
        tags:
           - { name: kernel.event_subscriber }
#    repository_factory_service:
#        class: Oni\CoreBundle\Repository\CoreRepository
#        factory_service: repository_factory
#        factory_method: getRepository
#        arguments:
#            - ['']


