{% extends '@travel_port/default/base.html.twig' %}
{% block stylesheets %}
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/oni-themes/travel_port/default/assets/plugins/animate.css">
    <link rel="stylesheet" href="/oni-themes/travel_port/default/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="/oni-themes/travel_port/default/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/oni-themes/travel_port/default/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="/oni-themes/travel_port/default/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="/oni-themes/travel_port/default/assets/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/oni-themes/travel_port/default/assets/css/custom.css">
{% endblock %}
{% block title %}
    Travel Connect Home
{% endblock %}
{% block body %}

    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Search </h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Hotels</a></li>
                <li class="active">Search</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row">


            <!-- Begin Content -->
            <div class="col-md-12">
                <!-- Checkout-Form -->
                <form action="#" id="sky-form" class="sky-form">
                    <header>Hotel</header>
                    <fieldset>
                        <div class="row">
                            <section style="padding-left: 15px; padding-right: 15px;">
                                <label for="file" class="input">
                                    <input name="destination" type="text" id="file" placeholder="Destination">
                                </label>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-4">
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" name="check-in" id="start" placeholder="Check In *">
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="select">
                                    <select>
                                        <option value="">Nights</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" name="check-out" id="finish" placeholder="Check out *" >
                                </label>
                            </section>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="row">
                            <section class="col col-4">
                                <label class="select">
                                    <select  name="nationality">
                                    <option value="0">Nationality</option>
                                    <option label="Afghani" value="AF">Afghani</option>
                                    <option label="Algerian" value="123">Algerian</option>
                                    <option label="American" value="69">American</option>
                                    <option label="Andorran" value="108">Andorran</option>
                                    <option label="Anguillan" value="166">Anguillan</option>
                                    <option label="Armenian" value="147">Armenian</option>
                                    <option label="Aruban" value="100">Aruban</option>
                                    <option label="Australian" value="1">Australian</option>
                                    <option label="Austrian" value="2">Austrian</option>
                                    <option label="Azerbaijani" value="142">Azerbaijani</option>
                                    <option label="Bahamian" value="101">Bahamian</option>
                                    <option label="Bahraini" value="106">Bahraini</option>
                                    <option label="Bangladeshi" value="3">Bangladeshi</option>
                                    <option label="Barbadian" value="102">Barbadian</option>
                                    <option label="Batswana" value="190">Batswana</option>
                                    <option label="Belarusian" value="141">Belarusian</option>
                                    <option label="Belgian" value="4">Belgian</option>
                                    <option label="Belizean" value="158">Belizean</option>
                                    <option label="Bolivian" value="169">Bolivian</option>
                                    <option label="Brazilian" value="5">Brazilian</option>
                                    <option label="British" value="68">British</option>
                                    <option label="Bruneian" value="89">Bruneian</option>
                                    <option label="Bulgarian" value="6">Bulgarian</option>
                                    <option label="Burkinabe" value="178">Burkinabe</option>
                                    <option label="Burundian" value="180">Burundian</option>
                                    <option label="Cambodian" value="90">Cambodian</option>
                                    <option label="Cameroonian" value="160">Cameroonian</option>
                                    <option label="Canadian" value="7">Canadian</option>
                                    <option label="Caymanian" value="105">Caymanian</option>
                                    <option label="Chadian" value="181">Chadian</option>
                                    <option label="Chilean" value="9">Chilean</option>
                                    <option label="Chinese" value="10">Chinese</option>
                                    <option label="Colombian" value="87">Colombian</option>
                                    <option label="Comorian" value="777">Comorian</option>
                                    <option label="Congo" value="203">Congo</option>
                                    <option label="Cook Islander" value="194">Cook Islander</option>
                                    <option label="Costa Rican" value="150">Costa Rican</option>
                                    <option label="Cote D Ivoire" value="177">Cote D Ivoire</option>
                                    <option label="Croatian" value="11">Croatian</option>
                                    <option label="Cuba" value="88">Cuba</option>
                                    <option label="Cypriot" value="12">Cypriot</option>
                                    <option label="Czech" value="13">Czech</option>
                                    <option label="Danish" value="14">Danish</option>
                                    <option label="Dominican (dominican Republic)" value="91">Dominican (dominican Republic)</option>
                                    <option label="Egyptian" value="EGY">Egyptian</option>
                                    <option label="Emirati" value="67">Emirati</option>
                                    <option label="Eritrean" value="201">Eritrean</option>
                                    <option label="Estonian" value="17">Estonian</option>
                                    <option label="Ethiopian" value="84">Ethiopian</option>
                                    <option label="Faroese" value="76">Faroese</option>
                                    <option label="Finnish" value="18">Finnish</option>
                                    <option label="French" value="19">French</option>
                                    <option label="French Polynesian" value="62">French Polynesian</option>
                                    <option label="Gambian" value="164">Gambian</option>
                                    <option label="Georgian" value="118">Georgian</option>
                                    <option label="German" value="21">German</option>
                                    <option label="Ghanaian" value="124">Ghanaian</option>
                                    <option label="Gibraltarian" value="77">Gibraltarian</option>
                                    <option label="Greece" value="GR">Greece</option>
                                    <option label="Greenlandic" value="191">Greenlandic</option>
                                    <option label="Grenadian" value="115">Grenadian</option>
                                    <option label="Guamanian" value="110">Guamanian</option>
                                    <option label="Guatemalan" value="119">Guatemalan</option>
                                    <option label="Guinean" value="183">Guinean</option>
                                    <option label="Haitian" value="86">Haitian</option>
                                    <option label="Hungarian" value="26">Hungarian</option>
                                    <option label="Icelander" value="107">Icelander</option>
                                    <option label="Indian" value="27">Indian</option>
                                    <option label="Indonesian" value="28">Indonesian</option>
                                    <option label="Iranian" value="78">Iranian</option>
                                    <option label="Iraqi" value="79">Iraqi</option>
                                    <option label="Irish" value="29">Irish</option>
                                    <option label="Isreali" value="30">Isreali</option>
                                    <option label="Italian" value="31">Italian</option>
                                    <option label="Jamaican" value="32">Jamaican</option>
                                    <option label="Japanese" value="33">Japanese</option>
                                    <option label="Jordanian" value="34">Jordanian</option>
                                    <option label="Kazakhstani" value="173">Kazakhstani</option>
                                    <option label="Kenyan" value="80">Kenyan</option>
                                    <option label="Korean" value="57">Korean</option>
                                    <option label="Kuwaiti" value="KW">Kuwaiti</option>
                                    <option label="Kyrgyzstani" value="175">Kyrgyzstani</option>
                                    <option label="Lao" value="159">Lao</option>
                                    <option label="Latvian" value="36">Latvian</option>
                                    <option label="Lebanese" value="37">Lebanese</option>
                                    <option label="Liberian" value="192">Liberian</option>
                                    <option label="Libyan" value="172">Libyan</option>
                                    <option label="Liechtenstein" value="154">Liechtenstein</option>
                                    <option label="Lithuanian" value="120">Lithuanian</option>
                                    <option label="Luxembourger" value="38">Luxembourger</option>
                                    <option label="Macedonian" value="389">Macedonian</option>
                                    <option label="Malawi" value="265">Malawi</option>
                                    <option label="Malaysian" value="39">Malaysian</option>
                                    <option label="Maldivian" value="40">Maldivian</option>
                                    <option label="Maltese" value="41">Maltese</option>
                                    <option label="Martiniquais" value="153">Martiniquais</option>
                                    <option label="Mauritanian" value="185">Mauritanian</option>
                                    <option label="Mexican" value="43">Mexican</option>
                                    <option label="Micronesian" value="195">Micronesian</option>
                                    <option label="Moldovan" value="113">Moldovan</option>
                                    <option label="Monacan" value="85">Monacan</option>
                                    <option label="Mongolia" value="193">Mongolia</option>
                                    <option label="Montenegrin" value="200">Montenegrin</option>
                                    <option label="Moroccan" value="44">Moroccan</option>
                                    <option label="Mozambican" value="204">Mozambican</option>
                                    <option label="Myanmari" value="148">Myanmari</option>
                                    <option label="Namibian" value="161">Namibian</option>
                                    <option label="Nepalese" value="45">Nepalese</option>
                                    <option label="Netherlander" value="24">Netherlander</option>
                                    <option label="New Caledonian" value="122">New Caledonian</option>
                                    <option label="New Zealander" value="46">New Zealander</option>
                                    <option label="Nigerian" value="152">Nigerian</option>
                                    <option label="Norwegian" value="47">Norwegian</option>
                                    <option label="Omani" value="146">Omani</option>
                                    <option label="Pakistani" value="97">Pakistani</option>
                                    <option label="Palestinian" value="198">Palestinian</option>
                                    <option label="Panamanian" value="162">Panamanian</option>
                                    <option label="Paraguayan" value="149">Paraguayan</option>
                                    <option label="Peruvian" value="98">Peruvian</option>
                                    <option label="Philippine" value="48">Philippine</option>
                                    <option label="Polish" value="49">Polish</option>
                                    <option label="Portuguese" value="50">Portuguese</option>
                                    <option label="Puerto Rican" value="51">Puerto Rican</option>
                                    <option label="Qatari" value="168">Qatari</option>
                                    <option label="Romanian" value="52">Romanian</option>
                                    <option label="Russian" value="53">Russian</option>
                                    <option label="Rwandan" value="186">Rwandan</option>
                                    <option label="Saintkitts" value="KN">Saintkitts</option>
                                    <option label="Salvadoran" value="157">Salvadoran</option>
                                    <option label="San Marino" value="54">San Marino</option>
                                    <option label="Saudi" value="95">Saudi</option>
                                    <option label="Senegalese" value="130">Senegalese</option>
                                    <option label="Serbian" value="109">Serbian</option>
                                    <option label="Seychellois" value="81">Seychellois</option>
                                    <option label="Singaporean" value="55">Singaporean</option>
                                    <option label="Slovakian" value="94">Slovakian</option>
                                    <option label="Slovenian" value="99">Slovenian</option>
                                    <option label="South African" value="56">South African</option>
                                    <option label="Spanish" value="58">Spanish</option>
                                    <option label="Sri Lankan" value="59">Sri Lankan</option>
                                    <option label="Sudanese" value="151">Sudanese</option>
                                    <option label="Surinamese" value="188">Surinamese</option>
                                    <option label="Swazi" value="199">Swazi</option>
                                    <option label="Swedish" value="60">Swedish</option>
                                    <option label="Swiss" value="61">Swiss</option>
                                    <option label="Syrian Arab Republic" value="74">Syrian Arab Republic</option>
                                    <option label="Tajikistani" value="170">Tajikistani</option>
                                    <option label="Tanzanian" value="112">Tanzanian</option>
                                    <option label="Thai" value="64">Thai</option>
                                    <option label="Tunisian" value="75">Tunisian</option>
                                    <option label="Turkish" value="65">Turkish</option>
                                    <option label="Ugandan" value="171">Ugandan</option>
                                    <option label="Ukrainian" value="66">Ukrainian</option>
                                    <option label="Uruguayan" value="70">Uruguayan</option>
                                    <option label="Us Citizens" value="184">Us Citizens</option>
                                    <option label="Uzbekistani" value="117">Uzbekistani</option>
                                    <option label="Venezuelan" value="71">Venezuelan</option>
                                    <option label="Verdean" value="139">Verdean</option>
                                    <option label="Vietnamese" value="72">Vietnamese</option>
                                    <option label="Yemeni" value="83">Yemeni</option>
                                    <option label="Zambian" value="189">Zambian</option>
                                    <option label="Zimbabwe" value="121">Zimbabwe</option>

                                </select>
                                    <i></i>
                                </label>
                            </section>

                            <section class="col col-3">
                                <label class="select">
                                    <select name="sel_currency" >
                                        <option value="0">-Currency-</option>
                                        <option label="AED" value="AED" selected="selected">AED</option>
                                        <option label="EUR" value="EUR">EUR</option>
                                        <option label="GBP" value="GBP">GBP</option>
                                        <option label="INR" value="INR">INR</option>
                                        <option label="LYD" value="LYD">LYD</option>
                                        <option label="USD" value="USD">USD</option>
                                        <option label="ZAR" value="ZAR">ZAR</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                        </div>


                    </fieldset>

                    <fieldset>
                        <section>
                            <label class="label">Star Rating *</label>
                            <div class="inline-group">
                                <label class="checkbox"><input type="checkbox" name="checkbox-inline" checked=""><i></i>Alexandra</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>Alice</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>Anastasia</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>Avelina</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>Beatrice</label>
                            </div>
                        </section>
                    </fieldset>

                    <footer>
                        <button type="submit" class="btn-u">Search</button>
                    </footer>
                </form>
                <!-- End Checkout-Form -->
            </div>
            <!-- End Content -->
        </div>
    </div><!--/container-->
    <!--=== End Content Part ===-->

{% endblock %}

{% block javascripts %}

    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="/oni-themes/travel_port/default/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/oni-themes/travel_port/default/assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/oni-themes/travel_port/default/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="/oni-themes/travel_port/default/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="/oni-themes/travel_port/default/assets/plugins/smoothScroll.js"></script>
    <script src="/oni-themes/travel_port/default/assets/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="/oni-themes/travel_port/default/assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="/oni-themes/travel_port/default/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="/oni-themes/travel_port/default/assets/js/custom.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="/oni-themes/travel_port/default/assets/js/app.js"></script>
    <script type="text/javascript" src="/oni-themes/travel_port/default/assets/js/plugins/style-switcher.js"></script>
    <script type="text/javascript" src="/oni-themes/travel_port/default/assets/js/plugins/masking.js"></script>
    <script type="text/javascript" src="/oni-themes/travel_port/default/assets/js/plugins/datepicker.js"></script>
    <script type="text/javascript" src="/oni-themes/travel_port/default/assets/js/plugins/validation.js"></script>
    <script type="text/javascript" src="/oni-themes/travel_port/default/assets/js/plugins/style-switcher.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            Masking.initMasking();
            Datepicker.initDatepicker();
            Validation.initValidation();
            StyleSwitcher.initStyleSwitcher();
        });
    </script>
    <!--[if lt IE 9]>
    <script src="/oni-themes/travel_port/default/assets/plugins/respond.js"></script>
    <script src="/oni-themes/travel_port/default/assets/plugins/html5shiv.js"></script>
    <script src="/oni-themes/travel_port/default/assets/plugins/placeholder-IE-fixes.js"></script>
    <script src="/oni-themes/travel_port/default/assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="/oni-themes/travel_port/default/assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
    <![endif]-->
{% endblock %}
